[submodule "rain"]
	path = rain
	url = git@github.com:GilgameshxZero/rain.git
[submodule "emilia-tan"]
	path = emilia-tan
	url = git@github.com:GilgameshxZero/emilia-tan.git
[submodule "emilia-web"]
	path = emilia-web
	url = git@github.com:GilgameshxZero/emilia-web.git
[submodule "emilia-mail"]
	path = emilia-mail
	url = git@github.com:GilgameshxZero/emilia-mail.git
[submodule "emilia-design"]
	path = emilia-design
	url = git@github.com:GilgameshxZero/emilia-design.git
